@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

.herosection {
    text-align: center;
}

.containera{
    padding-top: 200px;
}

.containera img{
    height:400px;
    width:400px;
    border-radius: 50%;
    display: inline-block;
    border: 6px solid white;
    margin-left: 600px;

    
}

.center-col {
    margin: 50px;

}

.center-col img{
    padding-left: 150px;
    height: fit-content;
}

.center-col h2{
    text-align: center;
}

.center-col {

}

.herosection{
    margin-left: 400px;
}

* body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-image: url("https://www.almanac.com/sites/default/files/image_nodes/winter_sunrise-2.jpg");
    background-size: cover;  
    background-repeat: no-repeat;  
}

li, a, button {
    font-family: "Fjalla", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: white;
    text-decoration: none;
}

.container-fluid {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

footer {
    text-align: center;
    padding-top: 180px;
    font-size: 12px;
    color:white;
    font-size: large;
}


button{
    padding: 9px 25px;
    background-color: rgba(0,136,1689,1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: rgba(0,136,1689,0.8);
}

.header {
    height: 100px;
    text-align: center;
    color: rgb(0, 0, 0);
    padding-top: 20px;
    /* text-decoration: underline; */
    border: solid white;
    margin: 5%;
    border-radius: 1px;
}

.container {
    max-width: 1500px;
    padding-left: 200px;
    margin: 100px;
}

.left-col, .right-col {
    background-color: #ffffff;
    width: 25%;
    float: left;
    padding-left: 30px;
    border-collapse: separate;
    border-spacing: 15px;

}

.center-col {
    background-color: #ffffff;
    width: 50%;
    float:left
}